.panel-widget-style.hidden {
  display: none;
}
.banner-hiring:before {
  content: "";
  width: 300%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  background-color: rgba(189, 16, 38, 0.05);
}
.banner-hiring.hidden {
  display: none;
}
.banner-hiring .container {
  padding: 25px 0 30px;
}
.banner-hiring a {
  color: #30BCED !important;
}
.banner-hiring a:hover {
  color: #2ca8d4 !important;
}
