.single-post article .entry-meta, 
.single-post  .entry-meta
.single-event .entry-meta, 
.single-jobs .entry-meta,
.hot-news .entry-meta,
.latest-articles .entry-meta,
.news-page .entry-meta,
.event .entry-meta 
{
	display:none;
}

.news .post-date{
	display: none;
}

/* Event Cards Image */
.entry-thumbnail.img img{
	height: 160px;
}
.page-template-all-news-php .action-block .bottom{
	min-height:124px;
}

.hot-news a.btn,
.events-list a.btn,
.latest-articles a.btn{
	margin-right: 0;
}
.link-fr {     
}
.link-en {
}

/* Cookies Bar */
#cookie-law-info-again{
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;
}

#cookie_action_close_header{
	padding: 8px 16px;
  border-radius: 4px;
  line-height: 18px;
}

/* Footer */
footer{
	display: flex;
	padding-bottom: 30px;
}

.footer_storm_link{
	text-align: right;
}

@media (max-width: 767px){
	.footer_storm_link{
		text-align: left;
	}
}

@media screen and (max-width: 968px){
	.company-quote .specs{
		margin-top: 0px;
	}
	
	.company-quote .specs .spec{
		margin-bottom: 0px;
	}
}


header .bottom-header .right-text h1{
	width: 490px;
}

@media screen and (max-width: 968px) {
	header .bottom-header .right-text h1 {
		width: auto;
		margin-bottom: 15px;
	}
}
