/**-------------------------PRYVLAB-----------------------*/
.page-id-6608:before {
  background: none;
  background-color: rgba(36, 101, 217, 0.1);
  height: 520px;
}
@media screen and (max-width: 768px) {
  .page-id-6608:before {
    height: 590px;
  }
}
@media screen and (max-width: 767px) {
  .page-id-6608:before {
    height: 870px;
  }
}
@media screen and (max-width: 414px) {
  .page-id-6608:before {
    height: 900px;
  }
}
.page-id-6608 header .top-header h3 {
  display: flex;
}
.page-id-6608 header .bottom-header .illustration img {
  width: 90%;
  max-width: 453px;
  margin-top: 0;
}
@media screen and (max-width: 1024px) {
  .page-id-6608 header .bottom-header .illustration img {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .page-id-6608 header .bottom-header .illustration img {
    margin-top: 15%;
  }
}
@media screen and (max-width: 767px) {
  .page-id-6608 header .bottom-header .illustration {
    text-align: center;
  }
  .page-id-6608 header .bottom-header .illustration img {
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.page-id-6608 header .bottom-header h1 {
  font-size: 49px;
  line-height: 52px;
  font-weight: 700;
  color: #2465D9;
  margin-bottom: 15px;
}
.page-id-6608 header .bottom-header .bp {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 35px;
}
.page-id-6608 header .bottom-header a {
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 21px !important;
}
.page-id-6608 header .bottom-header a.btn {
  padding: 15px 33px;
  text-transform: initial;
}
.page-id-6608 .datas {
  padding-top: 10px;
}
.page-id-6608 .datas .datas_card {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 50px;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}
.page-id-6608 .datas .datas_card img {
  margin-bottom: 40px;
  max-height: 150px;
}
.page-id-6608 .datas .datas_card .title {
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 34px !important;
}
.page-id-6608 .datas .datas_card .desc {
  font-size: 16px !important;
  line-height: 22px !important;
  margin-bottom: 20px;
}
.page-id-6608 .datas .datas_card .desc span {
  display: block;
}
.page-id-6608 .datas .datas_card a {
  color: #30BCED;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .page-id-6608 .datas .datas_card img {
    width: 100%;
    max-height: 114px;
  }
  .page-id-6608 .datas .desc {
    min-height: 66px;
  }
}
@media screen and (max-width: 767px) {
  .page-id-6608 .datas .datas_card img {
    max-height: 150px;
  }
}
.page-id-6608 .tutorial {
  margin-top: 90px;
  text-align: center;
}
.page-id-6608 .tutorial .section_title {
  font-weight: 500 !important;
  font-size: 32px !important;
  line-height: 38px !important;
  text-align: center;
  margin-bottom: 30px;
}
.page-id-6608 .tutorial .video {
  position: relative;
  margin-bottom: 50px;
}
.page-id-6608 .tutorial .video:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 200%;
  left: -50%;
  height: 80%;
  z-index: -1;
  background-color: rgba(36, 101, 217, 0.1);
}
.page-id-6608 .tutorial a {
  color: #30BCED;
  text-decoration: underline;
  font-size: 18px;
  line-height: 26px;
}
.page-id-6608 .tutorial a span {
  display: block;
}
.page-id-6608 .tutorial .disclaimer {
  text-align: left;
  margin-top: 60px;
  padding-bottom: 30px;
}
.page-id-6608 .tutorial .disclaimer .content {
  border-top: 1px solid #EAEAEA;
  padding-top: 30px;
}
.page-id-6608 .tutorial .disclaimer p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}
.page-id-6608 .tutorial .disclaimer a {
  display: block;
}
@media screen and (max-width: 767px) {
  .page-id-6608 .tutorial .disclaimer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .page-id-6608 .tutorial .disclaimer .col-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .page-id-6608 .tutorial iframe {
    width: 100%;
  }
}
.page-id-6608 .compare_product .container {
  padding-bottom: 60px;
  padding-top: 60px;
  border-top: 1px solid #EAEAEA;
}
.page-id-6608 .compare_product a {
  display: block;
  font-size: 32px !important;
  line-height: 34px !important;
  font-weight: 500 !important;
  color: #30BCED;
  text-align: center;
  margin-bottom: 0 !important;
  text-decoration: none;
}
.page-id-6608 .compare_product a:hover {
  text-decoration: underline;
}
.page-id-6608 .desc .container {
  padding-bottom: 60px;
  padding-top: 60px;
  border-top: 1px solid #EAEAEA;
}
.page-id-6608 .desc p {
  font-size: 24px !important;
  line-height: 34px !important;
  font-weight: 300 !important;
  text-align: center;
  margin-bottom: 0;
}
.page-id-6608 #secondary {
  display: none;
}
/**-------------------------OPEN PRYV.IO-----------------------*/
.page-id-6786:before {
  background: none;
  background-color: rgba(151, 164, 177, 0.1);
  height: 520px;
}
@media screen and (max-width: 768px) {
  .page-id-6786:before {
    height: 590px;
  }
}
@media screen and (max-width: 767px) {
  .page-id-6786:before {
    height: 870px;
  }
}
@media screen and (max-width: 414px) {
  .page-id-6786:before {
    height: 900px;
  }
}
.page-id-6786 .btn {
  text-decoration: none;
  margin-right: 0;
}
.page-id-6786 header .top-header h3 {
  display: flex;
}
.page-id-6786 header .bottom-header .illustration img {
  width: 98%;
  margin-left: -10%;
  margin-top: 0;
}
@media screen and (max-width: 1024px) {
  .page-id-6786 header .bottom-header .illustration img {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .page-id-6786 header .bottom-header .illustration img {
    margin-top: 15%;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .page-id-6786 header .bottom-header .illustration {
    text-align: center;
  }
  .page-id-6786 header .bottom-header .illustration img {
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.page-id-6786 header .bottom-header h1 {
  font-size: 46px;
  line-height: 52px;
  font-weight: 700;
  color: #1A1A1A;
  margin-bottom: 20px;
}
.page-id-6786 header .bottom-header .bp {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 35px;
}
.page-id-6786 header .bottom-header a {
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 21px !important;
}
.page-id-6786 header .bottom-header a.btn {
  padding: 15px 33px;
  margin-right: 50px;
  text-transform: initial;
}
@media screen and (max-width: 1024px) {
  .page-id-6786 header .bottom-header a.btn {
    padding: 15px 28px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .page-id-6786 header .bottom-header a.btn {
    margin-right: 0;
  }
}
.page-id-6786 .articles .container {
  padding: 30px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #EAEAEA;
}
.page-id-6786 .articles .title {
  font-weight: 700 !important;
  margin-bottom: 30px;
  width: 100%;
}
.page-id-6786 .articles .article_card {
  width: 23.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}
.page-id-6786 .articles .article_card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.page-id-6786 .articles .article_card:hover .content_top img {
  transform: scale(1.05);
}
.page-id-6786 .articles .article_card .content_top {
  width: 100%;
  height: 140px;
  position: relative;
  overflow: hidden;
}
.page-id-6786 .articles .article_card .content_top:before {
  content: "";
  background-color: rgba(67, 67, 67, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.page-id-6786 .articles .article_card .content_top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease-in-out 0.3s;
}
.page-id-6786 .articles .article_card .content_bottom {
  padding: 15px;
  background-color: #fff;
  text-align: center;
}
.page-id-6786 .articles .article_card .content_bottom p {
  color: #0B0014;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .page-id-6786 .articles .article_card {
    width: 48%;
    margin-bottom: 30px;
  }
  .page-id-6786 .articles .centrer.space-ud {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .page-id-6786 .articles .article_card {
    width: 100%;
    margin-bottom: 30px;
  }
}
.page-id-6786 .example {
  padding-top: 65px;
  padding-bottom: 65px;
  position: relative;
  text-align: center;
}
.page-id-6786 .example:before {
  content: "";
  background-color: #FBF3F4;
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  z-index: -1;
}
.page-id-6786 .example a {
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 0;
  color: #30BCED;
  text-decoration: none;
}
.page-id-6786 .example a:hover {
  text-decoration: underline;
}
.page-id-6786 .videos .container {
  padding: 40px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page-id-6786 .videos .title {
  font-weight: 700 !important;
  margin-bottom: 30px;
  width: 100%;
}
.page-id-6786 .videos .video {
  width: 32%;
  height: 197px;
}
.page-id-6786 .videos .video iframe {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .page-id-6786 .videos .centrer.space-ud {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .page-id-6786 .videos .video {
    width: 100%;
    margin-bottom: 30px;
  }
}
.page-id-6786 .why {
  text-align: left;
  margin-top: 60px;
  padding-bottom: 100px;
}
.page-id-6786 .why .content {
  border-top: 1px solid #EAEAEA;
  padding-top: 30px;
}
.page-id-6786 .why p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .page-id-6786 .why {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
  }
  .page-id-6786 .why .col-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.page-id-6786 .desc .container {
  padding-bottom: 60px;
  padding-top: 60px;
  border-top: 1px solid #EAEAEA;
}
.page-id-6786 .desc.desc_1 .container {
  padding-top: 20px;
}
.page-id-6786 .desc a,
.page-id-6786 .desc p {
  display: block;
  font-size: 24px !important;
  line-height: 34px !important;
  font-weight: 300 !important;
  text-align: center;
  margin-bottom: 0;
  color: #30BCED;
}
.page-id-6786 .desc a span,
.page-id-6786 .desc p span {
  display: block;
}
@media screen and (max-width: 768px) {
  .page-id-6786 .desc a span,
  .page-id-6786 .desc p span {
    display: inline;
  }
}
@media screen and (max-width: 768px) {
  .page-id-6786 .desc.desc_1 .container {
    padding-top: 100px;
  }
}
.page-id-6786 #secondary {
  display: none;
}
/**----------------------INTERGRATORS---------------------*/
.page-id-6633 #secondary {
  display: none;
}
.page-id-6633 .widget-title {
  display: none;
}
.page-id-6633 .btn {
  margin-right: 0;
}
.page-id-6633 .btn:hover {
  text-decoration: none;
}
.page-id-6633 nav a {
  font-size: 16px !important;
}
.page-id-6633 nav a:hover {
  text-decoration: none;
}
.page-id-6633 a {
  font-size: 18px !important;
  line-height: 21px !important;
  text-decoration: none;
}
.page-id-6633 a:hover {
  text-decoration: underline;
}
.page-id-6633 .hero {
  text-align: center;
}
.page-id-6633 .hero h1 {
  margin-bottom: 20px;
  font-size: 49px !important;
  line-height: 52px !important;
  font-weight: 700 !important;
}
.page-id-6633 .hero p {
  font-size: 24px !important;
  line-height: 34px !important;
  font-weight: 300 !important;
  margin-bottom: 25px;
}
.page-id-6633 .hero p span {
  display: block;
}
@media screen and (max-width: 768px) {
  .page-id-6633 .hero p span {
    display: inline;
  }
}
.page-id-6633 .companies {
  padding: 50px 0px 60px;
  position: relative;
}
.page-id-6633 .companies.software_companies {
  margin-top: 105px;
}
.page-id-6633 .companies.software_companies:before {
  content: '';
  position: absolute;
  background-color: #FBF3F4;
  top: 0;
  height: 100%;
  width: 200%;
  left: -50%;
}
.page-id-6633 .companies.data_companies {
  margin-top: 25px;
}
.page-id-6633 .companies .content {
  padding: 0;
}
.page-id-6633 .companies .section_title {
  font-size: 24px !important;
  line-height: 34px !important;
  font-weight: 500 !important;
  margin-bottom: 0px;
}
.page-id-6633 .companies .companies_card {
  display: flex;
  justify-content: space-between;
  padding: 27px 32px 25px;
  background-color: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}
.page-id-6633 .companies .companies_card .content--left {
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-id-6633 .companies .companies_card .content--left img {
  width: 70%;
}
.page-id-6633 .companies .companies_card .content--right {
  width: 64%;
}
.page-id-6633 .companies .companies_card .content--right p {
  font-size: 16px !important;
  line-height: 24px !important;
}
.page-id-6633 .companies .companies_card .content--right p span {
  display: block;
}
.page-id-6633 .companies .companies_card .content--right a {
  text-decoration: underline;
  color: #30BCED;
  font-size: 16px !important;
  line-height: 24px !important;
  text-align: left;
  display: block;
}
.page-id-6633 .companies .companies_card .content--right.show_desc {
  max-height: initial;
}
.page-id-6633 .companies .companies_card .description_toggle {
  display: none;
}
@media screen and (max-width: 767px) {
  .page-id-6633 .companies .companies_card {
    padding: 27px 20px 25px;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .page-id-6633 .companies .companies_card .content--left {
    width: 100%;
    margin-bottom: 20px;
  }
  .page-id-6633 .companies .companies_card .content--left img {
    width: 60%;
  }
  .page-id-6633 .companies .companies_card .content--right {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
  }
  .page-id-6633 .companies .companies_card .description_toggle {
    font-size: 16px !important;
    display: block;
    margin-top: 20px;
    color: #30BCED;
    text-decoration: underline;
  }
}
.page-id-6633 .become_parners {
  text-align: center;
}
.page-id-6633 .become_parners a {
  margin-bottom: 80px;
}
/**----------------------WHITE PAPER---------------------*/
.page-id-3707 .hero h2 {
  font-family: "Roboto Medium", sans-serif;
  font-size: 24px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
}
.page-id-3707 .hero h3 {
  font-family: "Roboto Medium", sans-serif;
  font-size: 27px !important;
  line-height: 32px !important;
}
.page-id-3707 .hero h3 span {
  display: block;
  margin-bottom: 25px;
}
.page-id-3707 section {
  margin-top: 30px;
  margin-bottom: 30px;
}
.page-id-3707 section .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.page-id-3707 section .section_title {
  font-family: "Roboto Medium", sans-serif;
  font-size: 20px !important;
  line-height: 26px !important;
  font-weight: 500 !important;
  margin-bottom: 25px;
  width: 100%;
  color: #000;
}
.page-id-3707 section .section_text {
  font-family: "Roboto", sans-serif;
  font-size: 18px !important;
  line-height: 26px !important;
  font-weight: normal !important;
  color: #6a6d77;
  width: 100%;
}
.page-id-3707 .two-col {
  position: relative;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.page-id-3707 .two-col:before {
  content: "";
  background-color: #f7f7f8;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 300%;
  height: 100%;
  left: -100%;
}
@media screen and (max-width: 768px) {
  .page-id-3707 .two-col .content--left,
  .page-id-3707 .two-col .content--right {
    width: 100% !important;
  }
  .page-id-3707 .two-col .content--left img,
  .page-id-3707 .two-col .content--right img {
    width: 100% !important;
  }
  .page-id-3707 .two-col .content--right {
    text-align: center;
  }
}
.page-id-3707 .privacy .two-col {
  margin-top: 20px;
}
.page-id-3707 .privacy .two-col .content--left {
  display: flex;
  justify-content: center;
  width: 100%;
}
.page-id-3707 .privacy .two-col .content--left img {
  width: 70%;
}
.page-id-3707 .privacy .two-col .content--right {
  position: absolute;
  top: 40px;
  left: 30%;
}
.page-id-3707 .privacy .two-col .content--right ul li {
  font-family: "Roboto", sans-serif;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #6a6d77;
}
@media screen and (max-width: 768px) {
  .page-id-3707 .privacy .two-col .content--right {
    position: relative;
    margin-top: 30px;
    left: inherit;
    top: inherit;
  }
}
.page-id-3707 .data_structure {
  margin-top: 70px;
}
.page-id-3707 .data_structure img {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .page-id-3707 .data_structure img {
    width: 100%;
  }
}
.page-id-3707 .events {
  margin-top: 100px;
}
.page-id-3707 .events .section_title {
  margin-bottom: 0;
}
.page-id-3707 .events .two-col {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 40px 0;
}
.page-id-3707 .events .two-col .content--left {
  width: 70%;
  padding-left: 15px;
}
.page-id-3707 .events .two-col .content--left p.section_text:last-of-type {
  margin-bottom: 0;
}
.page-id-3707 .events .two-col .content--right {
  width: 30%;
}
.page-id-3707 .events .two-col .content--right img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .page-id-3707 .events .two-col .content--right img {
    width: 70% !important;
    margin-top: 30px;
  }
}
.page-id-3707 .tags {
  margin-top: 70px;
}
.page-id-3707 .tags .image_wrapper {
  width: 225px;
  height: 225px;
  border-radius: 100%;
  border: 1px solid #6a6d77;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
}
.page-id-3707 .tags .image_wrapper:before {
  content: "";
  display: block;
  background-image: url(../img/streams_small.svg);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position-x: 20%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.page-id-3707 .tags img {
  width: 70%;
}
.page-id-3707 .apparent {
  position: relative;
  padding: 40px 15px;
  margin-top: 70px;
}
.page-id-3707 .apparent .section_title,
.page-id-3707 .apparent .section_text {
  color: #fff;
}
.page-id-3707 .apparent .section_text {
  margin-bottom: 0;
}
.page-id-3707 .apparent:before {
  content: "";
  background-color: #be2834;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 200%;
  height: 100%;
  left: -50%;
}
.page-id-3707 .access {
  margin-top: 100px;
}
.page-id-3707 .access .two-col {
  margin-bottom: 30px;
  margin-top: 0;
  padding: 40px 0;
  justify-content: space-between;
}
.page-id-3707 .access .two-col:before {
  display: none;
}
.page-id-3707 .access .two-col .content--left {
  width: 47%;
  padding-left: 15px;
}
.page-id-3707 .access .two-col .content--left p.section_text:last-of-type {
  margin-bottom: 0;
}
.page-id-3707 .access .two-col .content--right {
  width: 50%;
}
.page-id-3707 .access .two-col .content--right img {
  width: 100%;
}
.page-id-3707 .download {
  margin-top: 100px;
}
.page-id-3707 .download .content {
  justify-content: flex-start;
  align-items: center;
}
/**----------------------ALL-NEWS---------------------*/
.page-id-5292 #main {
  margin-bottom: 0;
}
.page-id-5292 .latest-articles {
  padding-bottom: 50px;
}
.page-id-5292 .news_partners .news_partners_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #C8C8C8;
  border-bottom: 1px solid #C8C8C8;
  margin-top: 30px;
  margin-bottom: 100px;
}
.page-id-5292 .news_partners .news_partners_wrapper a img {
  max-height: 90px;
  max-width: 190px;
}
.page-id-5292 .news_partners .news_partners_wrapper a:nth-of-type(3) img {
  max-width: 250px;
}
@media screen and (max-width: 768px) {
  .page-id-5292 .news_partners .news_partners_wrapper a img {
    max-width: 120px;
  }
  .page-id-5292 .news_partners .news_partners_wrapper a:nth-of-type(3) img {
    max-width: 190px;
  }
}
@media screen and (max-width: 767px) {
  .page-id-5292 .news_partners .news_partners_wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .page-id-5292 .news_partners .news_partners_wrapper a {
    margin-bottom: 30px;
  }
  .page-id-5292 .news_partners .news_partners_wrapper a:nth-of-type(1) {
    margin-right: auto;
  }
  .page-id-5292 .news_partners .news_partners_wrapper a:nth-of-type(3) {
    width: 100%;
    text-align: center;
  }
  .page-id-5292 .news_partners .news_partners_wrapper a:nth-of-type(3) img {
    max-width: 90%;
  }
  .page-id-5292 .news_partners .news_partners_wrapper a:nth-of-type(4) img {
    max-width: 150px;
  }
}
.page-id-5292 .events-list {
  display: none;
}
.page-id-5292 footer {
  margin-top: 0;
}
/**----------------------ARTCLE---------------------*/
article table {
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 50px;
  table-layout: fixed;
}
article table tr {
  border-top: 1px solid #EAEAEA;
}
article table tr:nth-of-type(1) {
  border-top: none;
}
article table td {
  width: 50%;
  font-size: 15px;
  line-height: 20px;
  padding-right: 20px;
  padding-top: 15px;
  vertical-align: top;
}
article table td[colspan="2"] {
  padding-top: 19px;
  padding-bottom: 5px;
}
article table td ol,
article table td ul {
  padding-left: 15px;
}
article table td p,
article table td span {
  font-size: 15px !important;
  line-height: 26px !important;
}
@media screen and (max-width: 767px) {
  article table td {
    font-size: 12px;
    line-height: 20px;
  }
  article table td:nth-of-type(1) {
    width: 60%;
  }
  article table td:nth-of-type(2) {
    width: 70%;
  }
  article table td p,
  article table td span {
    font-size: 12px !important;
    line-height: 20px !important;
  }
}
article.type-post table p {
  font-size: 15px !important;
  line-height: 26px !important;
  margin-bottom: 15px !important;
}
@media screen and (max-width: 767px) {
  article.type-post table p {
    font-size: 12px !important;
    line-height: 20px !important;
  }
}
.single-article article.type-post p {
  line-height: auto !important;
}
@media screen and (max-width: 767px) {
  .single-article .type-post h3 {
    font-size: 20px !important;
    line-height: 26px !important;
  }
}
