.single-article{
    width: 700px;
}
.single-article .type-post .entry-thumbnail img {
    height: auto !important;
}
.single-article .type-post .entry-header .entry-title {
    font-size: 38px !important;
    line-height: 49px !important;
}
.single-article .type-post h2 {
    font-size: 34px !important;
    line-height: 44px !important;
    margin-bottom: 20px;
    margin-top: 40px;
}
.single-article .type-post h3 {
    font-size: 30px !important;
    line-height: 35px !important;
    margin-bottom: 20px;
    margin-top: 40px;
}
.single-article .type-post ul {
    padding-left: 20px;
    margin-bottom: 30px;
}
.single-article .type-post ul li{
    font-size: 18px;
    line-height: 30px;
}
.single-article .type-post pre{
    text-align: center;
    margin-bottom: 70px;
}

@media screen and (max-width: 767px){
    .single-article{
        width: auto;
    }
    .single-article img {
        width: 100%;
        height: auto;  
    }
    .single-article span img {
        width: inherit;
        height: inherit;  
    }
}